<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name= "iNetBanking_Project">
     <listeners>
        <listener class-name ="com.netbanking.utilities.Reportings" />
    </listeners>
    
   <test name = "BankingApp Test">
      <parameter name = "browser" value = "edge" />
      <classes>
            <class name = "com.netbanking.testcases.TC_LoginTest_001" /> 
              <class name = "com.netbanking.testcases.TC_LoginDDT_002" /> 
            <class name = "com.netbanking.testcases.TC_AddNewCustomerTest_003" />
      </classes>
    </test>
</suite>